h1 {
    text-align: center;
    color: rgb(175, 128, 62);
    font-family: fantasy;
    font-size: 100px;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    font-family: fantasy;
    font-size: 100px;
    color: rgb(175, 128, 62);
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    font-size: 20px;
    color: #3c5e83;
    text-decoration: none;
}

main {
    padding: 2rem;
}

article {
    background: #fff;
    padding: 2rem;
    margin-bottom: 1rem;
}

article h2 {
    color: #333;
}

article section h3 {
    color: #666;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}